@{
    ViewData["Title"] = "Phil's Poker";
}

<div class="row">
    <div class="col-md-12">
        <h4>Can you beat Phil Mitchell at Poker?</h4>
        <h1>
            Come and have a go,<br />
            if you think you're hard enough
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3">
            <div class="game">
                <img style="max-height:350px; margin-bottom: 5px" src="~/images/Phil/WelcomePhil.jpg" alt="image" />
                <br />
                <a class="btn-group-justified btn-lg btn-danger" style="font-size:45px" asp-controller="Home" asp-action="Game">Have a go</a>
            </div>
        </div>
    </div>
    <audio autoplay id="myAudio" src="~/images/Phil/Eh.mp3"></audio>
    <script>
  var audio = document.getElementById("myAudio");
  audio.volume = 0.5;
    </script>
</div>